<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <unicorn>
      <configurations>
        <configuration name="Project.ModuleName" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(repositoryRoot)\src\project\ModuleName\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <!-- Please add serialization includes here -->
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>

  </sitecore>
</configuration>